---
export const prerender = false;

import Heading from "@/components/typography/Heading.astro";
import BlogCards from "@/layouts/BlogCards.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Blog"
  description={`See Maxwell Kapezi Jr's "take" on Tech, software and its development, and probably rants about AI.`}
  siteUrl="https://bymjcodes.com/blog"
  image="/mjk.jpg"
>
  <section class="w-full lg:min-h-[89vh]" transition:animate="fade">
    <div class="container m-auto flex h-full flex-col justify-center py-24">
      <div class="text-center lg:text-left">
        <Heading text="Read Something" size="lg" />
      </div>

      <BlogCards />
    </div>
  </section>
</Layout>
