---
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import Layout from "../../layouts/Layout.astro";
import Heading from "../../components/typography/Heading.astro";
import type Post from "../../types/Post";
import PortableText from "../../components/sanity/PortableText.astro";
import { POST_QUERY } from "../../sanity/lib/queries";

export async function getStaticPaths() {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`,
  });

  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: post }: { data: Post } = await loadQuery({
  query: POST_QUERY,
  params,
});
---

<Layout title={post.title}>
  <article>
    <div class="py-24 lg:w-[85vw] lg:mx-auto max-w-lg mx-auto">
      <Heading text={post.title} size="lg" color="text-primary" />
      <PortableText portableText={post.body} />
    </div>
  </article>
</Layout>
