---
interface Props {
  text: string;
  size: "sm" | "md" | "lg" | "xl" | "xxl";
  color?: string;
}

const { text, size = "md", color = "text-black dark:text-white" } = Astro.props;

const sizes = {
  sm: "text-xl py-1",
  md: "text-2xl py-1",
  lg: "text-3xl py-1",
  xl: "text-4xl lg:text-5xl py-2",
  xxl: "text-6xl py-4",
};

const completeClass = `
  ${sizes[size]}
  font-bold
`;
---

<h1 class={`${completeClass} ${color}`}>{text}</h1>
