<div class="animate-pulse">
  <div class="dark:bg-secondary-dark h-64 rounded-xl bg-gray-200"></div>
  <div class="mt-4 space-y-3">
    <div class="dark:bg-secondary-dark h-4 rounded-xl bg-gray-200"></div>
    <div class="dark:bg-secondary-dark h-4 w-3/4 rounded-xl bg-gray-200"></div>
    <div class="dark:bg-secondary-dark h-4 w-1/2 rounded-xl bg-gray-200"></div>
  </div>
</div>
