<div
  class="lg:border-secondary-white mx-auto hidden w-full py-2 lg:block lg:border-t-[1px]"
>
  <small class="text-secondary-white block text-center"
    >&copy; {new Date().getFullYear()} MJ Codes</small
  >
</div>
