<div
  class="hidden lg:block lg:border-t-[1px] lg:border-secondary-white w-full mx-auto py-2"
>
  <small class="block text-center text-secondary-white"
    >&copy; {new Date().getFullYear()} MJ Codes</small
  >
</div>
