---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import SocialLinks from "../contacts/SocialLinks.astro";
import Footer from "./Footer.astro";
interface Link {
  name: string;
  route: string;
  title: string;
  icon: string;
}

const links: Link[] = [
  {
    name: "Home",
    route: "/",
    title: "Home",
    icon: "ri:home-6-fill",
  },
  {
    name: "About",
    route: "/about",
    title: "Know me",
    icon: "ri:user-3-fill",
  },
  {
    name: "Services",
    route: "/services",
    title: "What I offer",
    icon: "ri:money-dollar-box-line",
  },
  {
    name: "Blog",
    route: "/blog",
    title: "Read something",
    icon: "ri:newspaper-line",
  },
  {
    name: "Projects",
    route: "/projects",
    title: "See my work",
    icon: "ri:macbook-line",
  },
];

const currentPath = Astro.url.pathname;
---

<nav
  class="text-black dark:text-white backdrop-blur-md bg-background-white/50 dark:bg-background-dark/50 lg:bg-background-white/0 dark:lg:bg-background-dark lg:backdrop-blur-none fixed bottom-0 left-0 w-full lg:h-screen lg:w-[12vw] border-t-[1px] lg:border-t-0 lg:border-r-[1px] border-primary lg:min-h-screen z-50 flex-1 overflow-hidden"
>
  <div class="flex flex-col justify-between items-center h-full">
    <!-- Logo -->
    <!-- TODO: Create an interactive area/playground for the logo -->
    <a
      href="/"
      title="Maxwell Kapezi Jr 🚀"
      class="hidden lg:flex flex-col justify-center items-center w-full py-4 group"
    >
      <Image
        src="/icon.png"
        alt="MJ Codes logo"
        width={200}
        height={200}
        loading={"eager"}
        class="w-10 h-10 transition-all duration-300 animate-pulse hover:animate-bounce group-hover-translate-x-4 group-hover:-translate-y-2"
      />
      <!-- <small
        class="font-odibee text-primary group-hover:opacity-20 group-hover:translate-y-2 transition-all duration-300 group-hover:animate-pulse"
        >MJ Codes</small
      > -->
    </a>

    <!-- Page Links -->
    <ul
      class="flex lg:flex-col justify-evenly items-center gap-0 w-full mx-auto"
    >
      {
        links.map((link) => {
          const isActive =
            (link.route === "/" && currentPath === "/") ||
            (link.route !== "/" && currentPath.startsWith(link.route));

          return (
            <li class="w-full h-full" title={link.title}>
              <a
                class={`hover:text-primary hover:bg-secondary-light dark:hover:bg-secondary-dark flex flex-col lg:flex-row justify-center items-center w-full transition-all duration-300 p-4 lg:p-4 uppercase text-[9px] lg:text-xs px-2  m-0 group  ${isActive ? "text-primary" : ""}`}
                href={link.route}
              >
                <Icon
                  name={link.icon}
                  size={22}
                  class={`lg:hidden mb-1 group-hover:text-primary duration-300 ${isActive ? "text-primary" : "dark:text-white text-black"}`}
                />
                {link.name}
              </a>
            </li>
          );
        })
      }
    </ul>

    <!-- Social Links -->
    <div class="w-full mx-auto">
      <SocialLinks layout="grid" />
      <Footer />
    </div>
  </div>
</nav>
