---
import { Icon } from "astro-icon/components";
import SocialLinks from "../contacts/SocialLinks.astro";
import Footer from "./Footer.astro";
interface Link {
  name: string;
  route: string;
  title: string;
  icon: string;
}

const links: Link[] = [
  {
    name: "Home",
    route: "/",
    title: "Home",
    icon: "ri:home-6-fill",
  },
  {
    name: "About",
    route: "/about",
    title: "Know me",
    icon: "ri:user-3-fill",
  },
  {
    name: "Services",
    route: "/services",
    title: "What I offer",
    icon: "ri:money-dollar-box-line",
  },
  {
    name: "Blog",
    route: "/blog",
    title: "Read something",
    icon: "ri:newspaper-line",
  },
  {
    name: "Projects",
    route: "/projects",
    title: "See my work",
    icon: "ri:macbook-line",
  },
];
---

<nav
  class="flex flex-col justify-between items-center gap-4 bg-white text-black dark:bg-background-dark dark:text-white fixed bottom-0 left-0 w-full lg:w-[20vw] lg:relative border-t-[1px] lg:border-t-0 lg:border-r-[1px] border-primary lg:min-h-screen z-50 flex-1"
>
  <!-- Logo -->
  <a
    href="/"
    title="Maxwell Kapezi Jr 🚀"
    class="bg-secondary-dark hidden lg:flex justify-center items-center w-full"
  >
    <img src="/icon.png" alt="MJ Codes logo" class="w-10 h-10 animate-pulse" />
  </a>

  <!-- Page Links -->
  <ul
    class="flex lg:flex-col justify-evenly items-center gap-0 lg:gap-4 w-full mx-auto"
  >
    {
      links.map((link) => (
        <li class="w-full h-full" title={link.title}>
          <a
            class="hover:text-primary hover:bg-secondary-dark flex flex-col lg:flex-row justify-center items-center w-full transition-all duration-300 p-4 lg:p-2 text-xs uppercase"
            href={link.route}
          >
            <Icon name={link.icon} size={24} class="lg:hidden" />
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>

  <!-- Social Links -->
  <div class="w-full mx-auto">
    <SocialLinks layout="grid" />
    <Footer />
  </div>
</nav>
