---
export const prerender = true;

import { Image } from "@unpic/astro";
import Button from "@/components/buttons/Button.astro";
import SocialLinks from "@/components/contacts/SocialLinks.astro";
import Flex from "@/components/layouts/Flex.astro";
import Heading from "@/components/typography/Heading.astro";
import maxwellImage from "@/images/mjk.jpg";
import Layout from "@/layouts/Layout.astro";
import AboutSectionsToggler from "@/components/navigation/AboutSectionsToggler";
---

<Layout
  title="About Maxwell Kapezi Jr."
  description="Maxwell Kapezi Jr. is a Software Developer, Graphic Designer, and Writer from the Warm Heart of Africa, Malawi 🇲🇼"
  siteUrl="https://bymjcodes.com/about"
  image="/mjk.jpg"
  type="profile"
>
  <section class="w-full lg:h-[89vh]" transition:animate="fade">
    <div
      class="container mx-auto flex h-full flex-col items-center justify-center py-24"
    >
      <div
        class="flex flex-col items-center gap-4 transition-all duration-400 ease-in-out lg:gap-7 xl:flex-row xl:gap-10"
      >
        <!-- Image -->
        <Image
          src={maxwellImage}
          title="Maxwell Kapezi Jr. 🚀"
          alt={"Maxwell Kapezi Jr. 🚀"}
          width={200}
          height={200}
          layout="constrained"
          placeholder="blurhash"
          decoding="async"
          priority
          class="flex-1 rounded-full border-2 border-white transition-all duration-400 ease-in-out sm:h-48 sm:w-48 2xl:h-62 2xl:w-62"
        />
        <!-- Background -->
        <div class="flex-1/2 text-center xl:text-left">
          <Heading text="About Me" size="lg" className="2xl:text-4xl" />
          <AboutSectionsToggler client:load />
          <Flex
            direction="row"
            gap="2"
            className="my-4 justify-center xl:justify-start"
          >
            <Button
              text="My Skills"
              link="/about/my-skills"
              variant="secondary"
            />
          </Flex>

          <!-- Social Links/Contacts -->
          <div class="block px-2 py-10 text-center lg:hidden">
            <Heading text="Reach Me" size="lg" />
            <div class="py-4">
              <SocialLinks layout="cols-3" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
