---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About Maxwell Kapezi Jr. | MJ Codes"
  description="Maxwell Kapezi Jr. is a Software Developer, Graphic Designer, and Writer from the Warm Heart of Africa,	Malawi  🇲🇼"
  siteUrl="https://bymjcodes.netlify.app/about"
>
  <main>
    <h1>About Page</h1>
  </main>
</Layout>
