---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <img src="/icon." alt="Astro logo" class="astro-a" />
    <h1 class="container max-w-lg mx-auto text-white">
      Welcome to <span class="text-2xl container max-w-lg mx-auto">Astro</span>
    </h1>
  </main>
</Layout>
