---
export const prerender = true;

import Button from "../components/buttons/Button.astro";
import Flex from "../components/layouts/Flex.astro";
import Heading from "../components/typography/Heading.astro";
import Layout from "../layouts/Layout.astro";
import Text from "../components/typography/Text.astro";

const occupations = [
  {
    name: "Software Developer 💻",
    url: "https://linkedin.com/in/maxwellkjr",
  },
  {
    name: "Writer ✍️",
    url: "https://malawianwriter.vercel.app",
  },
  {
    name: "Graphic Designer 🎨",
    url: "https://instagram.com/maxwellkjnr",
  },
];
---

<Layout
  title="Home | Programming and Tech Related Content"
  description="Maxwell Kapezi Jr's official website to showcase his software development journey and share the few things he knows."
  siteUrl="https://bymjcodes.netlify.app/"
>
  <section class="h-screen
  lg:h-[80vh]" transition:animate="fade">
    <div class="container flex flex-col justify-center h-full">
      <div class="animate-pulse">
        <Heading
          text="The Developing Developer"
          size="xl"
          color="text-secondary"
        />
      </div>
      <!-- TODO: Refactor the Flex component to make it more generic to work with simple lists list this -->
      <div class="flex flex-wrap w-full mx-auto mt-2">
        {
          occupations.map((occupation) => (
            <a
              href={occupation.url}
              class="z-10 mr-4 transition-all duration-500 ease-in-out text-secondary-white hover:text-primary"
              target="_blank"
            >
              {occupation.name}
            </a>
          ))
        }
      </div>
      <div class="mt-4">
        <Text
          text="A platform to showcase my software development journey and share the few things I know."
          size="md"
        />
      </div>
      <Flex
        direction="row"
        align="start"
        justify="start"
        gap="4"
        wrap="wrap"
        className="mt-4"
      >
        <Button text="About" link="/about" variant="primary" />
        <Button text="Projects" link="/projects" variant="secondary" />
      </Flex>
    </div>
  </section>
</Layout>
