---
import { ViewTransitions } from "astro:transitions";
import Button from "../components/buttons/Button.astro";
import Flex from "../components/layouts/Flex.astro";
import Pill from "../components/misc/Pill.astro";
import Heading from "../components/typography/Heading.astro";
import Text from "../components/typography/Text.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="container mx-auto">
      <Heading text="Astro" size="xl" />
      <Heading text="Astro" size="lg" />
      <Heading text="Astro" size="md" />
      <Heading text="Astro" size="sm" />
      <Text text="A quick brown fox jumps over the lazy dog" size="lg" />
      <Text text="A quick brown fox jumps over the lazy dog" size="md" />
      <Text text="A quick brown fox jumps over the lazy dog" size="sm" />
      <Text text="A quick brown fox jumps over the lazy dog" size="xs" />
      <Button
        text="Astro"
        link="https://astro.build/"
        variant="primary"
        blank
      />
      <br />
      <Button text="Button" link="https://astro.build/" variant="secondary" />
      <!-- <Flex direction="row" align="center" justify="space-between"> -->
      <Pill text="Pill" variant="tertiary" />
      <Pill text="Pill" variant="secondary" />
      <Pill text="Pill" variant="primary" />
      <!-- </Flex> -->
      <Heading text="Astro" size="xl" />
      <Heading text="Astro" size="lg" />
      <Heading text="Astro" size="md" />
      <Heading text="Astro" size="sm" />
      <Text text="A quick brown fox jumps over the lazy dog" size="lg" />
      <Text text="A quick brown fox jumps over the lazy dog" size="md" />
      <Text text="A quick brown fox jumps over the lazy dog" size="sm" />
      <Text text="A quick brown fox jumps over the lazy dog" size="xs" />
      <Button
        text="Astro"
        link="https://astro.build/"
        variant="primary"
        blank
      />
      <br />
      <Button text="Button" link="https://astro.build/" variant="secondary" />
      <!-- <Flex direction="row" align="center" justify="space-between"> -->
      <Pill text="Pill" variant="tertiary" />
      <Pill text="Pill" variant="secondary" />
      <Pill text="Pill" variant="primary" />
      <!-- </Flex> -->
      <Heading text="Astro" size="xl" />
      <Heading text="Astro" size="lg" />
      <Heading text="Astro" size="md" />
      <Heading text="Astro" size="sm" />
      <Text text="FROM SOFTWARE" size="lg" />
      <Text text="FROM SOFTWARE" size="md" />
      <Text text="FROM SOFTWARE" size="sm" />
      <Text text="FROM SOFTWARE" size="xs" />
      <Button
        text="Astro"
        link="https://astro.build/"
        variant="primary"
        blank
      />
      <br />
      <Button text="Button" link="https://astro.build/" variant="secondary" />
      <!-- <Flex direction="row" align="center" justify="space-between"> -->
      <Pill text="Pill" variant="tertiary" />
      <Pill text="Pill" variant="secondary" />
      <Pill text="Pill" variant="primary" />
      <!-- </Flex> -->
    </div>
  </main>
</Layout>
