---
import Button from "../components/buttons/Button.astro";
import Flex from "../components/layouts/Flex.astro";
import Pill from "../components/misc/Pill.astro";
import Heading from "../components/typography/Heading.astro";
import Text from "../components/typography/Text.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="h-[80vh]">
      <div class="container flex flex-col justify-center h-full">
        <Heading text="Astro" size="xl" />
        <Flex
          direction="col"
          align="flex-start"
          justify="flex-start"
          gap="2"
          wrap="wrap"
        >
          <Text text="A simple and fast static site generator" />
          <Pill text="Astro" variant="primary" />
        </Flex>
      </div>
    </section>
  </main>
</Layout>
