---
export const prerender = false;

import Heading from "@/components/typography/Heading.astro";
import CardsLayout from "@/layouts/CardsLayout.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Projects"
  description="See Maxwell Kapezi Jr's work and works-in-progress he has been working on over the years."
  siteUrl="https://bymjcodes.com/projects"
  image="/mjk.jpg"
>
  <section class="w-full lg:min-h-[89vh]" transition:animate="fade">
    <div class="container m-auto flex h-full flex-col justify-center py-24">
      <div class="text-center lg:text-left">
        <Heading text="My Work" size="lg" />
      </div>

      <CardsLayout />
    </div>
  </section>
</Layout>
