---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Projects | MJ Codes"
  description="See what Maxwell Kapezi Jr's work and works-in-progress he has been working on over the years."
  siteUrl="https://bymjcodes.netlify.app/projects"
>
  <main>
    <h1>Projects Page</h1>
  </main>
</Layout>
