---
export const prerender = true;

import Notice from "@/components/misc/Notice.astro";
import ServicesSectionToggler from "@/components/navigation/ServicesSectionToggler";
import Heading from "@/components/typography/Heading.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Services"
  description={`Maxwell Kapezi Jr's affordable software development services include: Web Development and Mobile App Development.`}
  siteUrl="https://bymjcodes.com/services"
  image="/mjk.jpg"
>
  <section class="mx-auto w-full lg:min-h-[89vh]">
    <div class="mx-auto flex h-full w-full flex-col justify-center py-24">
      <div class="lg:text-left">
        <Heading text="Services" size="lg" />
      </div>
      <div class="mb-4">
        <Notice
          text="Please note: Clients are responsible for direct payments related to domain registrations and hosting services. We provide guidance throughout the process."
        />
      </div>
      <ServicesSectionToggler client:load />
    </div>
  </section>
</Layout>
