---
import ServicesSectionToggler from "../components/navigation/ServicesSectionToggler";
import Heading from "../components/typography/Heading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Services"
  description={`Maxwell Kapezi Jr's affordable software development services include: Web Development and Mobile App Development.`}
  siteUrl="https://bymjcodes.netlify.app/services/"
>
  <main>
    <section class="lg:min-h-[89vh] w-full mx-auto">
      <div
        class="container flex flex-col justify-center w-full h-full py-24 mx-auto"
      >
        <div class="mb-4 lg:text-left">
          <Heading text="Services" size="lg" />
        </div>
        <ServicesSectionToggler client:load />
      </div>
    </section>
  </main>
</Layout>
