---
export const prerender = true;

import ServicesSectionToggler from "../components/navigation/ServicesSectionToggler";
import Heading from "../components/typography/Heading.astro";
import Layout from "../layouts/Layout.astro";
import Notice from "../components/misc/Notice.astro";
---

<Layout
  title="Services"
  description={`Maxwell Kapezi Jr's affordable software development services include: Web Development and Mobile App Development.`}
  siteUrl="https://bymjcodes.netlify.app/services/"
>
  <section class="lg:min-h-[89vh] w-full mx-auto" transition:animate="fade">
    <div
      class="container flex flex-col justify-center w-full h-full py-24 mx-auto"
    >
      <div class="lg:text-left">
        <Heading text="Services" size="lg" />
      </div>
      <div class="mb-4">
        <Notice
          text="Please note: Clients are responsible for direct payments related to domain registrations and hosting services. We provide guidance throughout the process."
        />
      </div>
      <ServicesSectionToggler client:load />
    </div>
  </section>
</Layout>
