---
import "@/styles/global.css";

import { Image } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import Navbar from "@/components/navigation/Navbar.astro";
import ThemeToggler from "@/components/navigation/ThemeToggler";
import FontSettingsButtons from "@/components/settings/FontSettingsButtons";
import { SEO } from "astro-seo";

interface Props {
  title: string;
  description?: string;
  siteUrl?: string;
  image: string;
  type?: string;
}

const {
  title,
  description = "Maxwell Kapezi Jr's official website to showcase his software development journey and share the few things he knows.",
  siteUrl = "https://bymjcodes.com",
  image,
  type = "website",
} = Astro.props;

console.log(title);

// Old image ("https://i.ibb.co/QnrcfDX/Screenshot-from-2024-01-04-10-22-56.png");

const currentPath: string = Astro.url.pathname;
---

<!doctype html>
<html lang="en" class="dark" transition:name="root" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO
      title={`${title} | MJ Codes 🚀`}
      description={description}
      openGraph={{
        basic: {
          title: `${title} | MJ Codes 🚀`,
          type: type,
          image: image,
          url: siteUrl,
        },
        optional: {
          description: description,
        },
      }}
      twitter={{
        creator: "@maxwellkjr",
        description: description,
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/icon.png" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: image,
          },
          { name: "twitter:title", content: `${title} | MJ Codes 🚀` },
          { name: "twitter:description", content: description },
        ],
      }}
    />
  </head>

  <body
    class="relative flex flex-col overflow-x-hidden antialiased lg:flex-row min-w-screen min-h-screen text-black bg-gradient-to-br from-background-light via-background-light to-secondary-light dark:text-white dark:from-background-dark dark:via-background-dark dark:to-secondary-dark"
  >
    <Navbar />
    <a
      href="/"
      class="absolute w-10 h-10 transition-all duration-400 lg:hidden top-4 left-4 animate-pulse"
    >
      <Image
        src="/icon.png"
        alt="MJ Codes logo"
        width={200}
        height={200}
        loading={"lazy"}
      />
    </a>
    <div
      class="fixed bottom-[15vh] right-[5%] lg:top-4 lg:left-[12vw] lg:bottom-auto lg:right-auto z-50"
    >
      <div class="flex flex-col items-center justify-center gap-5">
        <div
          class={`lg:hidden ${currentPath.startsWith("/blog/") ? "block" : "hidden"}`}
        >
          <FontSettingsButtons client:load />
        </div>
        <ThemeToggler client:load />
      </div>
    </div>
    <main
      class="px-4 lg:m-10 lg:px-[15vw] w-full lg:w-[85vw] lg:mx-auto xl:w-[95vw] max-w-screen-xl mx-auto z-auto"
    >
      <slot />
    </main>
    <ClientRouter />
  </body>
</html>
