---
// export const prerender = true;

import Icon from "node_modules/astro-icon/components/Icon.astro";

// const fontFamily = Astro.cookies.get("font-family")?.value;
// // const fam = localStorage.getItem("font-family");

// let iconName = fontFamily == "Poppins" ? "ri:font-sans-serif" : "ri:font-mono";

// console.log("FONT FAM:", fontFamily);
// console.log("ICON NAME:", iconName);
---

<div class="font-settings-container">
  <span class="flex items-center text-lg font-light text-secondary-white mb-4"
    >Reading Preferences</span
  >
  <div class="font-settings">
    <div class="setting-group">
      <Icon
        name="ri:font-sans"
        class="text-2xl text-secondary-white font-icon"
      />
      <select id="font-family" class="font-family-select">
        <option value="Fira Code" selected>Monospace</option>
        <option value="Poppins">Sans Serif</option>
        <option value="Libre Baskerville">Serif</option>
      </select>
    </div>

    <div class="setting-group">
      <Icon name="ri:font-size-2" class="text-2xl text-secondary-white" />
      <select id="text-size">
        <option value="14px">0.5pt</option>
        <option value="16px">1pt</option>
        <option value="18px">1.5pt</option>
        <option value="20px">2pt</option>
      </select>
    </div>
  </div>
</div>

<style>
  :root {
    --font-family: poppins;
  }

  .font-settings-container {
    @apply mt-10 flex w-full flex-col items-end justify-center border-t-[1px] border-solid border-secondary-white pt-4;
  }

  .font-settings {
    @apply flex w-full flex-row flex-wrap items-center justify-end gap-4;
  }

  .font-family-select {
    font-family: var(--font-family);
  }

  .setting-group {
    @apply flex items-center justify-end gap-2;
  }

  select {
    @apply rounded-full border-[1px] border-solid border-secondary-white bg-background-light px-2 py-1 text-sm text-secondary-white transition-all duration-300 ease-in-out hover:scale-95 hover:cursor-pointer dark:bg-background-dark;
  }

  label {
    @apply min-w-24;
  }
</style>

<script>
  import {
    fontSettings,
    updateFontFamily,
    updateTextSize,
    initializeFontSettings,
  } from "@/store/fontSettings";

  initializeFontSettings();

  const fontFamilySelect = document.getElementById(
    "font-family"
  ) as HTMLSelectElement;
  const textSizeSelect = document.getElementById(
    "text-size"
  ) as HTMLSelectElement;

  fontSettings.subscribe(({ fontFamily, textSize, lineHeight }) => {
    document.documentElement.style.setProperty("--font-family", fontFamily);
    document.documentElement.style.setProperty("--text-size", textSize);
    document.documentElement.style.setProperty("--line-height", lineHeight);

    fontFamilySelect.value = fontFamily;
    textSizeSelect.value = textSize;
  });

  const savedFont = localStorage.getItem("userFontFamily");

  if (savedFont === null || savedFont === undefined || savedFont === "") {
    updateFontFamily("Fira Code");
  } else {
    updateFontFamily(savedFont);
  }

  fontFamilySelect.addEventListener("change", (e) => {
    const newFont = (e.target as HTMLSelectElement).value;
    updateFontFamily(newFont);
  });

  textSizeSelect.addEventListener("change", (e) => {
    const newSize = (e.target as HTMLSelectElement).value;
    updateTextSize(newSize);
  });

  const fontIcon = document.querySelector(".font-icon") as HTMLElement;

  fontSettings.subscribe(({ fontFamily }) => {
    if (fontIcon) {
      fontIcon.setAttribute(
        "name",
        fontFamily === "Poppins" ? "ri:font-sans-serif" : "ri:font-serif"
      );
    }
  });
</script>
